$headline-face: Antonio, HelveticaNeue-CondensedBold, sans-serif;

$base-color: #ee3946;
$accent-color: #007cbe;
$muted-color: #777;
$trans-black: rgba(black, .2);

$departure-color: #439451;
$arrival-color: #f33649;

$mfl: #1687c3;
$bsl: #fe8f44;
$trolley: #5b9e59;
$bus: #52636b;
$regionalrail: #5186a0;

@import 'sencha-touch/base';
@import 'sencha-touch/base/all';

@import 'stylesheets/fonts/antonio/Antonio';
@import 'stylesheets/fonts/septamobi/SeptaMobi';

@import 'mixins';

@import 'button/SegmentedButton',
		'button/Button',
		'dataview/Dataview',
		'messagebox/MessageBox',
		'tab/Bar',
		'tab/Tab',
		'toolbar/Toolbar',
		'picker/Picker',
		'field/SelectField';

@import 'view/TripTplTemp',
		'view/Dashboard',
		'view/Bookmarks',
		'view/TripPlanner',
		'view/Schedule',
		'view/Extras',
		'view/Perks';	
		
@include st-loading-spinner;

.x-html {
	padding: 0;
}	

#ext-viewport > .x-body {
	background-image: url(../images/map-bg.jpg);
	background-image: url(../images/map-bg-light.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 58% -50px;
	font: -apple-system-body;
}