$headline-face: Antonio, HelveticaNeue-CondensedBold, sans-serif;

$accent-color: #007cbe;
$muted-color: #777;

@import 'sencha-touch/base';
@import 'sencha-touch/base/all';

@include icon('home', 'H');
@include font-face(
    'Antonio',
    font-files(
        'antonio/antonio-bold-webfont.woff', woff,
        'antonio/antonio-bold-webfont.ttf', truetype,
        'antonio/antonio-bold-webfont.svg', svg
    ),
    'antonio/antonio-bold-webfont.eot',
    bold
);

@import 'view/TripTplTemp';