
.bookmarks {

	.bookmark {
		@include display-box;
		@include box-align(stretch);
		padding: 0;
	}
	
	&.x-list .x-list-item.x-list-item-tpl .x-innerhtml {
		@include hairline;
		overflow: hidden;
		margin-right: .8em;
		padding: 0 1em 0 0;
			
		&:after {
			content: '\e60a';
			font-family: SeptaMobi;
			position: absolute;
			top: 33%;
			right: 1em;
		}
	}
	&.x-list .x-list-item.x-item-selected, &.x-list .x-list-item.x-item-pressed {
		background-color: rgba($base-color, .2);
	}
	
	.line {
		color: #fff;
		background-color: $base-color;
		//display: block;
		font-size: 1.7em;
		font-family: $headline-face;
		//min-height: 55px;
		margin-right: .5em;
		padding-top: 8%;
		text-align: center;
		min-width: 60px;
	
		&.MFL {
			background-color: $mfl;
		}
		&.BSL {
			background-color: $bsl;
		}
	}
	
	.text {
		@include box-flex(1);
		padding: .75em 0;
	}
	
	h4 {
		font-weight: bold;
		margin: 0;
	}
	p {
		line-height: 1.3em;
		margin-bottom: .25em;
		overflow: hidden;
	}
	.arrow {
		background-image: url(../images/bookmarks-arrow.png);
		background-size: 18px;
		background-repeat: no-repeat;
		background-position-y: 1px;
		display: inline-block;
		height: 11px;
		margin: 0 2px;
		width: 18px;
	}

}