
.newroute-btn {
	@include red-btn;
	font-size: 2em;
	margin: .5em;
	padding: .1em;
}

.x-tabbar {
	background: transparent;
	border-bottom: 1px solid $trans-black;
}

.dashboard {
	
	.x-dataview-item {
		border-bottom: 1px solid $trans-black;
		color: #000;
		padding: .8em 1em;
	}
}