.schedule {
	
	
	.x-dataview-item, .x-list-item.x-list-item-tpl {
		font-size: smaller;
	}
	
	&.x-list .x-list-item.x-list-item-tpl {
	
		.x-innerhtml {
			@include hairline;
			padding: 1em;
		}
		
		&.x-item-pressed,
        &.x-item-selected {
            background-color: rgba($base-color, .2);
        }
        
        &::after {
            content: '>';
            font-family: SeptaMobi;
            font-size: small;
            opacity: .4;
            position: absolute;
            right: 1.1em;
            top: 1.1em;
        }
	}
	
	&.times span {
		font-weight: bold;
		
		&.phase {
			font-weight: normal;
			float: right;
		}
	}
	
	.bus-number {
		@include border-radius(30px);
		background-color: $base-color;
		color: #fff;
		display: inline-block;
		font-weight: 900;
		font-size: smaller;
		line-height: 1em;
		padding: 4px;
		min-height: 20px;
		min-width: 20px;
		margin-right: 10px;
		text-align: center;		
	}
}


