.trip-planner {
    .x-form-fieldset-inner {
        border: none;
    }

	.x-field {
		@include hairline;
		padding: .6em 0;
	}

	.x-form-label{
		font-family: $headline-face;
		font-weight: normal;
		letter-spacing: 1px;
		margin-right: .6em;
		text-align: right;
		text-transform: uppercase;
	}

	.x-input-el {
		background: none;
		border: none;
		padding: .2em 1em .2em 0;
	}

	.pinpoint {
		content: '\e60f';
		font-family: SeptaMobi;
	}
}

.address-autocomplete-panel {
    background: white;

    .x-field-input {
        background: #ccc;
        padding: .4em;
    }
    
    .x-input-el {
        border: none;
        border-radius: .2em;
        padding: .2em .4em;
    }
    
    .x-clear-icon {
        margin-right: .6em;
        margin-top: .2em;
    }
}

.field-button {
    @include hairline;
    background-color: transparent;
    border: none;
    padding: 0 .6em;

    .x-button-icon {
        height: 1em;
        width: 1em;
    }
    
    &.x-button-pressing,
    &.x-button-pressed {
        .x-button-icon {
            color: $base-color;
        }
    }
}

.form-button-ct {
    padding: .6em;
    
    .x-button {
        background: rgba($base-color, .2);
        border: 1px solid $base-color;
        border-radius: 2px;
        font-family: $headline-face;
        padding: .2em .6em;
        text-transform: uppercase;
        
        &.x-button-pressing,
        &.x-button-pressed {
            background: rgba($base-color, .4);
        }
    }
    
    .x-button-icon {
        height: 1em;
        text-transform: none;
        width: 1em;
    }
}

.itineraries-list {
}

.itinerary-list-item {
    @include hairline;
    padding: .6em 1.2em;
}

.itinerary-times {
    font: -apple-system-short-headline;
    font-weight: 400;

    time {
        font-weight: bold;
    }

    .arrival {
        float: right;
    }
}

.itinerary-details {
    color: $muted-color;
    font-size: smaller;
    font: -apple-system-short-subheadline;
    font-weight: normal;
    clear: both;
}

.itinerary-detail {
}

.directions-carousel-ct {
    background: rgba(black, .8);
    color: white;
    
    .x-carousel-item {
        padding: .5em 1em;
        
        .x-innerhtml {
	        max-height: 75%;
	        overflow-y: scroll;
        }
    }
    
    .x-carousel-indicator {
        & > span {
            background: rgba(white, .2);
            @include border-radius(100%);
            height: .5em;
            margin-bottom: .5em;
            width: .5em;
        }
        
        & > .x-carousel-indicator-active {
            background: rgba(white, .8);
        }
    }
}

.directions-arrow {
    background: none;
    border: none;
    font-family: SeptaMobi;
    font-size: large;
    height: 100%;
    padding: .5em;
    
    &.x-item-disabled {
        opacity: .1;
    }
    
    &.next {
        @include rotate(180deg);
    }
}


.x-field-input .x-clear-icon {
	background-color: #ccc;
	border-radius: 100%;
    color: white;
    font-size: 16px;
	font-weight: bold;
	height: 18px;
	line-height: 1;
	text-align: center;
	right: 0;
	top: 6px;
	vertical-align: middle;
	width: 18px;
}

.x-field-clearable .x-clear-icon::after {
	content: '\00d7';
}

.itenerary-carousel .leg-description {
    margin-bottom: 15px;
}




