.trip-details {
    @include hairline;
   	background-color: rgba(00,00,00,.1);
    font-size: small;
    padding: .75em 1.2em;
    font: -apple-system-short-footnote;

    h1 {
        font-family: $headline-face;
        font-size: large;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    
    .dli {
        display: table-row;
    }
    
    dt, dd {
        display: table-cell;
    }
    
    dt {
        font-family: $headline-face;
        letter-spacing: 1px;
        padding-right: 1em;
        text-align: right;
        text-transform: uppercase;
        
        &::after {
            content: ':';
        }
    }
}

.trip-leg {
    @include hairline;
    padding: .8em 1.2em;
    padding-left: 2.8em;
    
    &::before {
        font-family: SeptaMobi;
        font-size: 20px;
        left: .8em;
        position: absolute;
        text-align: center;
        width: 20px;
    }
    
    &.departure::before {
        color: $departure-color;
        content: 'l';
    }
    
    &.arrival::before {
        color: $arrival-color;
        content: 'l';
    }
    
        &.bus::before { content: 'b'; }
      &.train::before { content: 't'; }
    &.trolley::before { content: 'c'; }
       &.walk::before { content: 'w'; }
}

.leg-description {
    font-weight: bold;
    font: -apple-system-short-headline;
}

.leg-instruction {
    color: $accent-color;
    
    .departure & {
        color: $departure-color;
    }
    
    .arrival & {
        color: $arrival-color;
    }
}

.leg-length {
    color: $muted-color;
    font-size: smaller;
    font: -apple-system-short-subheadline;
    font-weight: normal;
}

.leg-steps {
}

.leg-step {
    font-size: small;
    line-height: 1.5;
    list-style: inside decimal;
    font: -apple-system-footnote;
}

.step-rel-direction,
.step-street-name {
    font-weight: bold;
}

.step-street-name {
    margin-right: .5em; // instead of margin-left on the distance, in case distance wraps to next line
}

.step-distance {
    color: $muted-color;
    font-size: smaller;
}