.x-dataview.list-style { // dataviews that should look like lists
    .x-dataview-item {
        @include hairline;
        padding-right: 2.4em;
        position: relative;

        &.x-item-pressed,
        &.x-item-selected {
            background: rgba($base-color, .2);
        }
        
        &::after {
            content: '>';
            font-family: SeptaMobi;
            font-size: small;
            opacity: .4;
            position: absolute;
            right: 1.1em;
            top: 1.1em;
        }
    }
}