.x-dataview.list-style { // dataviews that should look like lists
    .x-dataview-item {
        @include hairline;
        //font-size: smaller;
        padding: .8em 2em .8em .8em;
        position: relative;

        &.x-item-pressed,
        &.x-item-selected {
            background-color: rgba($base-color, .2);
        }
        
        &::after {
            content: '\e60b';
            font-family: SeptaMobi;
            font-size: small;
            opacity: .4;
            position: absolute;
            right: 1em;
            top: 1.2em;
        }
        
    }
}

.x-dataview.list-style.times {
	
	.x-dataview-item {
		
		&.x-item-pressed,
		&.x-item-selected {
			background-color: transparent;
		}
		
		&::after {
			content: ' ';	
		}
	}
}

.x-dataview-emptytext {
    color: #999;
    padding: 1.2em .6em;
}