
.x-panel {
	
	&.x-floating {
		background: repeat-x top left url(../images/hairline.png);
		background-color: #fff;
		padding: 0;
		
		.x-panel-inner {
			background: #fff;
			
			
			.x-list-item {
				background: repeat-x bottom left url(../images/hairline.png);
				padding: .6em 1em;
				// font-family: 
				
				&.x-item-selected {
					background: rgba($base-color, .2);
				}
			}
		}
	}
}

.panel-popup.x-panel {
	margin: 0 auto;
	width: 90%;
	
	.x-panel-inner {
		background: $dark-trans-black;
		border-radius: .25em;
		color: #fff;
		height: auto;
		padding: 1em;
		position: absolute;
		top: 20%;
	}
	
	.x-form-label {
		font-family: $headline-face;
		text-transform: uppercase;
	}
	
	input {
		border: none;
		border-radius: 2px;
		padding: .4em 1.75em .4em .2em;
	}
	
	.x-field-clearable .x-field-input {
		padding-right: 0;
	}
	
	.x-field-input .x-clear-icon {	
		@include border-radius(20px);
		height: 18px;
		right: 5px;
		top: 22%;
		text-align: center;
		padding: 0 5px;
		width: 18px;
		vertical-align: middle;
	
		&::before {
			content: 'x';
			color: #000;
			font-size: smaller;
			vertical-align: middle;
			display: table-cell;
		}
	}
	
	.x-button {
        background: $base-color;
        border: none;
        border-radius: 2px;
        float: left;
        margin: .75em 0 0;
        padding: .4em .6em;
        width: 47%;
        
        &.x-button-pressing,
        &.x-button-pressed {
            background: darken($base-color, 10);
        }
        
        &:nth-child(2) {
	        float: right;
        }
    }
    
    .x-button-label {
        color: white;
    }
}