.x-segmentedbutton{
	margin: 10px;
		
	.x-button{
		background: transparent;
		border: 1px solid $base-color;
	
		&:first-child{
			@include border-radius(2px 0 0 2px);
		}
		&:last-child{
			@include border-radius(0 2px 2px 0);
		}
	}
}
