.x-segmentedbutton {
	margin: 10px;
		
	.x-button {
		background: transparent;
		border: 1px solid $base-color;
	
		&:first-child {
			@include border-radius(2px 0 0 2px);
		}
<<<<<<< HEAD
=======
		
>>>>>>> 070f381293ac647a07e9ffb58c3703fb2b85f3bd
		&:last-child {
			@include border-radius(0 2px 2px 0);
		}
		
		& + .x-button {
    		border-left: 0;
		}
	}
	
	.x-button-pressed {
    	background: rgba($base-color, .2);
	}
	
	.x-button-label {
    	font-size: smaller;
    	padding: .2em;
	}
}
