.x-segmentedbutton {
	padding: .3em .6em;
		
	.x-button {
		background: transparent;
		border: 1px solid $base-color;
	
		&:first-child {
			@include border-radius(2px 0 0 2px);
		}

		&:last-child {
			@include border-radius(0 2px 2px 0);
		}
		
		& + .x-button {
    		border-left: 0;
		}
	}
	
	.x-button-pressed {
    	background: rgba($base-color, .2);
	}
	
	.x-button-label {
    	font-size: smaller;
    	font: -apple-system-short-subheadline;
    	padding: .3em;
	}
}

.schedule .x-segmentedbutton{
	border-bottom: 1px solid rgba(00,00,00,.2);
	padding: 0em .6em 0;
	
	.x-button {
		border: 1px solid rgba(00,00,00,.2);
		border-bottom: none;
		
		&:first-child {
			@include border-radius(2px 0 0 0);
			border-right: none;
		}
		
		&:last-child {
			@include border-radius (0 2px 0 0);
			border-left: none;
		}
	}
	
	.x-button-pressed {
		background: rgba(00,00,00,.2);
		border: transparent;
	}
	
}