$picker-row-height: 2.5em;

.x-picker {
	background: #fff;
	
	.x-button {
		background: transparent;
		border: none;
		padding: 0 1em;
	}
	
	.x-picker-inner {
		font-size: smaller;
		padding: .5em 1em;
	}
	.x-item-selected {
		color: $base-color;
	}
}

.x-picker-bar {
    height: $picker-row-height;
}

.x-picker-slot {
    .x-dataview-item {
        height: $picker-row-height;
    }
}