.x-tabbar {
    &.x-docked-bottom.x-tabbar-dark {
        background: rgba(black, .75);
        border: none;
        border-top: 1px solid rgba(00,00,00,.9);
        color: $muted-color;
        
        & > .x-tabbar-inner > .x-tab-active {
            color: white;
        }
    }
}